<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="test.jereh.com.videodemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".VideoDemo.VideoMainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ViewDemo.ViewDemoActivity">
        </activity>
        <activity android:name=".ViewDemo.TestViewGroupSubActivity">
        </activity>
        <activity android:name=".ViewDemo1.ViewDemo_1">

        </activity>
        <activity android:name=".ViewDemo2.ViewDemoActivity_1">

        </activity>
    </application>

</manifest>